{% extends "base.html" %}
{% block title %}Data Plane Table {{ table.name }} {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .type { color: #336699; font-family: monospace}
    </style>
{% endblock %}
{% block content %}
<center>
  <h1>Data Plane Table<span style = "display: block;"></span>{{ table.name }}<span style = "display: block;"></span> </h1>
  {% if filter|length > 1 %} <p>Filter:  {{ filter }}</p> {% endif %}
  <table style="border: 1px solid blue;">
    <tr style="border: 1px solid blue;">
      {% for column in table.columns %}
        <th style="border: 1px solid blue;">{{ column.name }} </th>
      {% endfor %}
    </tr>
    <tr style="border: 1px solid blue;">
      {% for column in table.columns %}
        <th style="background-color: #336699; font-family: monospace; color: white;">{{ column.type }} </th>
      {% endfor %}
    </tr>
    {% for row in table.rows %}
      <tr style="border: 1px solid blue;">
        {% for entry in row %}
          <td style="border: 1px solid blue;"> {{ entry }} </td>
        {% endfor %}

      </tr>
    {% endfor %}
  </table>
</center>
  <br>
  <p>Enter a filter in <a href="https://github.com/rickmcgeer/sdtp/blob/main/docs/sdql.md" target = "_blank"> SDQL Format</a></p>
  
  <form action="/filter_table" method="post">
    {% if sample_tables is defined %}
      <p> Sample Filters for {{ table.name }}.  Clicking on a filter will fill the Filter field with the SDQL query corresponding to the filter; hitting submit will execute it.</p>
      <ul>
        {% for entry in sample_tables %}
          {% set query = entry["query"]|tojson %}
          <li onclick = 'document.getElementById("filter").value = JSON.stringify({{ query }});'> <u style="color: blue;">{{ entry['description'] }}</u></li>
        {% endfor %}
      </ul>
    {% endif %}
      
    <label for="filter">Filter:</label><br>
    <textarea style="width:600px;height:200px" cols="40", rows="5", id="filter" name="filter">

    </textarea>
    <input type="hidden" id="table" name="table" value="{{ table.name }}"><br><br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}